body {
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

* {
    font-family: Inter;
}

.layout_grid {
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
}

/* Header: Linje 10-70 */
header {
    display: grid;
    grid-template-columns: 600px 1fr 600px;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

nav {
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: end;
    margin-right: 15px;
    font-weight: 400;
    font-size: 20px;
}

.nav_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 18px;
}

.nav_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
#header_img {
    background-image: url("../header_img.jpg");
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0px;
}

.logo_container {
    width: 150px;
    height: 100%;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 75px;
}

/* Main: Linje 73 - 155 */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    text-align: center;
    font-weight: 900;
    margin-top: 50px;
}

.analysis_article {
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.analysis_article > p {
    text-align: left;
    margin-top: 75px;
}

.section_title {
    margin-top: 150px;
    font-weight: 600;
    text-align: center;
}

.nngroup_link {
    text-decoration: none;
    color: white;
}

.nngroup_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ackarlse_link {
    color: white;
}

.ackarlse_link:hover {
    cursor: pointer;
}

.analysis_img {
    display: block;
    margin-top: 10px;
    width: 30%;
    align-self: center;
}

.analysis_table {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    justify-self: center;
}

.analysis_table > span {
    border-style: solid;
    border-width: 1px;
    text-align: left;
    border-color: rgb(56, 56, 56);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.top_row {
    font-weight: 900;
    text-align: center;
}

.tilgjengelighetserklæring {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.tilgjengelighetserklæring:hover {
    cursor: pointer;
    text-decoration: underline;
}

.share_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 250px;
}

.twitter_share {
    border: none;
    background-color: rgb(0, 112, 156);
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 0px;
}

.fa-brands.fa-twitter {
    font-size: 32px;
}

.facebook_share {
    border: none;
    background-color: blue;
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 0px;
}

.fa-brands.fa-facebook {
    font-size: 32px;
}

.pinterest_share {
    border: none;
    background-color: rgb(153, 26, 26);
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 0px;
}

.fa-brands.fa-pinterest {
    font-size: 32px;
}

.twitter_share:hover, .facebook_share:hover, .pinterest_share:hover {
    cursor: pointer;
}


.article_cards_section {
    display: flex;
    flex-direction: row;
    margin-right: 7px;
    margin-left: 7px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-bottom: 75px;
    font-weight: 600;
    border-top: 2px solid rgb(56, 56, 56);
    padding-top: 20px;
    margin-top: 100px;
}

.article_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 700px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.article_card_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    line-height: 25px;
    height: 400px;
    width: 200px;
    justify-content: flex-start;
}

.article_headline, .article_intro, .article_link {
    margin-left: 7px;
}

.article_headline {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
}

.article_intro {
    font-size: 20px;
}

.article_link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: 100px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
}

.article_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Footer: Linje 156 - End */
footer {
/* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
    background-image: url("../header_img.jpg");
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}


.footer_address, .company_email, .social_media, .last_updated{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 12px;

}

.company_email {
    text-decoration: none;
}

.company_email:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-desktop {
    display: block;
}

.nav-phone, #open-yes {
    display: none;
}

#open-yes {
    background-image: url('../ham.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(150%);
    width: 50px;
    height: 50px;
}

.nav-phone {
    flex-direction: column;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    text-align: left;
    justify-content: left;
    margin-right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: display 0.5s ease-in-out,
                background-color 0.5s ease-in-out;
}

.nav-phone a { margin: .5em 0; }
.ham-icon {
    display: flex;
    justify-content: right;
    margin-right: 1em;
}

@media only screen and (max-width: 912px) {
    .nav-desktop { display: none; }
    #open-yes { display: block; }

    .nav-phone {
        font-size: 48px;
    }

    header {
        max-width: 912px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-self: center;
    }

    footer {
        max-width: 912px;
    }

    .layout_grid {
        display: grid;
        grid-template-rows: 75px 100% 80px;
        grid-template-columns: 912px;
    }

    main {
        width: 912px;
    }

    .analysis_img {
        width: 100%;
    }

    .analysis_table {
        width: 100%;
        font-size: 24px;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .section_title {
        font-size: 48px;
    }

    .analysis_article {
        font-size: 28px;
        line-height: 36px;
    }

    .tilgjengelighetserklæring {
        font-size: 40px;
    }

    h3 {
        text-align: center;
        justify-self: center;
        width: 100%;
    }

    .article_cards_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .article_card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 660px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
    }

    .article_card_text > p {
        font-size: 24px;
    }

    #header_img {
        background-image: url("../header_img.jpg");
        width: 100%;
        height: 75px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
        margin: 0px;
    }

    footer {
        /* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
            background-image: url("../header_img.jpg");
            width: 100%;
            height: 75px;
            width: 912px;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: bottom;
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
        }

    .footer_address, .company_email, .social_media {
        font-size: 16px;
    }
}


@media only screen and (max-width: 412px) {
    .nav-desktop { display: none; }
    #open-yes { display: block; }

    header {
        max-width: 412px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-self: center;
    }

    footer {
        max-width: 412px;
    }

    .layout_grid {
        display: grid;
        grid-template-rows: 75px 100% 80px;
        grid-template-columns: 412px;
    }

    main {
        width: 412px;
    }

    h3 {
        text-align: center;
        justify-self: center;
        width: 100%;
    }

    .analysis_article {
        line-height: 32px;
        font-size: 16px;
    }

    .section_title {
        font-size: 20px;
    }

    .analysis_img {
        width: 100%;
    }

    .analysis_table {
        width: 100%;
        font-size: 16px;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .tilgjengelighetserklæring {
        font-size: 20px;
    }

    .article_cards_section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .article_card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 700px;
        margin-top: 20px;
        width: 380px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
    }

    .article_card_text {
        font-size: 16px;
        width: 175px;
    }

    #header_img {
        background-image: url("../header_img.jpg");
        width: 100%;
        height: 75px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
        margin: 0px;
    }

    footer {
        /* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
            background-image: url("../header_img.jpg");
            width: 100%;
            height: 75px;
            width: 412px;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: bottom;
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
        }

    .footer_address, .company_email, .social_media {
        font-size: 12px;
    }
}
