body {
    margin: 0 auto;
    background-color: rgb(36, 36, 36);
}

* {
    font-family: Inter;
}

.layout_grid {
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    grid-template-columns: 1fr;
}

/* Header: Linje 10-70 */
header {
    display: grid;
    grid-template-columns: 600px 1fr 600px;
    align-items: center;
}

h1 {
    color: white;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

nav {
    color: white;
    align-items: center;
    text-align: end;
    margin-right: 15px;
    font-weight: 400;
    font-size: 20px;
}

.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 18px;
}

.nav_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
#header_img {
    background-image: url("../header_img.jpg");
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0px;
}

.logo_container {
    width: 150px;
    height: 100%;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 75px;
}

.contact_info {
    margin-top: 200px;
    margin-bottom: 50px;
}

.phone, .email, .address {
    color: white;
}

.form_title {
    color: white;
    font-size: 32px;
    margin-bottom: 50px;
}

.contact_form {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    width: 1200px;
}

.fname, .lname {
    width: 150px;
}

.lname {
    margin-bottom: 20px;
}

.form_subject {
    width: 300px;
}

.form_body {
    width: 600px;
    height: 500px;
    margin-bottom: 50px;
}

.submit_button {
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    box-shadow: 0px 0px 2px 0px black;
    padding: 10px;
}

.submit_button:hover {
    cursor: pointer;
}

.share_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 100px;
}

.twitter_share {
    border: none;
    background-color: rgb(32, 135, 175);
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.facebook_share {
    border: none;
    background-color: blue;
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.pinterest_share {
    border: none;
    background-color: rgb(255, 0, 0);
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.twitter_share:hover, .facebook_share:hover, .pinterest_share:hover {
    cursor: pointer;
}

h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 75px;
    font-weight: 600;
    border-top: 2px solid white;
    padding-top: 20px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer: Linje 185 - End */
footer {
/* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
    background-image: url("../header_img.jpg");
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;

}

.footer_address, .company_email, .social_media, .last_updated{
    color: white;
    font-weight: 400;
    font-size: 8px;

}

.company_email {
    text-decoration: none;
}

.company_email:hover {
    text-decoration: underline;
    cursor: pointer;
}

span {
    font-style: italic;
}

.nav-desktop {
    display: block;
}

.nav-phone, #open-yes {
    display: none;
}

#open-yes {
    background-image: url('../ham.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(150%);
    width: 50px;
    height: 50px;
}

.nav-phone {
    flex-direction: column;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    text-align: left;
    justify-content: left;
    margin-right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: display 0.5s ease-in-out,
                background-color 0.5s ease-in-out;
}

.nav-phone a { margin: .5em 0; }
.ham-icon {
    display: flex;
    justify-content: right;
    margin-right: 1em;
}

@media only screen and (max-width: 912px) {
    .nav-desktop { display: none; }
    #open-yes { display: block; }

    .nav-phone {
        font-size: 48px;
    }

    header {
        width: 912px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-self: center;
        align-items: center;
    }

    .layout_grid {
        display: grid;
        grid-template-rows: 75px 1fr 75px;
        grid-template-columns: 912px;
    }

    main {
        width: 912px;
    }

    iframe {
        width: 100%;
    }

    .phone, .email, .address {
        font-size: 32px;
    }

    .twitter_share, .facebook_share, .pinterest_share {
        width: 150px;
        padding-bottom: 25px;
        padding-top: 25px;
        font-size: 32px;
    }

    .share_buttons {
        width: 500px;
    }

    .contact_form {
        width: 880px;
    }

    .form_title {
        font-size: 50px;
    }

    .fname::placeholder, .lname::placeholder, .form_subject::placeholder, .form_body::placeholder {
        font-size: 24px;
    }

    .fname, .lname, .form_body, .form_subject {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .submit_button {
        font-size: 32px;
        padding: 10px;
    }

    #header_img {
        background-image: url("../header_img.jpg");
        width: 100%;
        height: 75px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
        margin: 0px;
    }

    footer {
        /* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
            background-image: url("../header_img.jpg");
            width: 100%;
            height: 75px;
            width: 912px;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: bottom;
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
        }

    .footer_address, .company_email, .social_media {
        font-size: 16px;
    }
}


@media only screen and (max-width: 412px) {
    .nav-desktop { display: none; }
    #open-yes { display: block; }

    .nav-phone {
        font-size: 48px;
    }

    header {
        width: 412px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-self: center;
        align-items: center;
    }

    h1 {
        font-size: 18px;
    }

    .layout_grid {
        display: grid;
        grid-template-rows: 75px 1fr 75px;
        grid-template-columns: 412px;
    }

    main {
        width: 412px;
    }


    .twitter_share, .facebook_share, .pinterest_share {
        width: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 16px;
    }

    .share_buttons {
        width: 100%;
    }

    .contact_form {
        width: 90%;
    }

    .form_body {
        width: 90%;
        margin-top: 20px;
    }

    #header_img {
        background-image: url("../header_img.jpg");
        width: 100%;
        height: 75px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
        margin: 0px;
    }

    footer {
        /* <a href=<a href="https://www.freepik.com/free-vector/abstract-colorful-wave-banner-background_4122441.htm#page=2&query=abstract%20black%20header&position=12&from_view=search&track=sph">Image by Harryarts</a> on Freepik */
            background-image: url("../header_img.jpg");
            width: 100%;
            height: 75px;
            width: 412px;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: bottom;
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
        }

    .footer_address, .company_email, .social_media {
        font-size: 12px;
    }
}
